<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sphone: Online Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        .phonelists {
            width: 40%;
            height: 50%;
        }
        .viewIMG {
            width: 30%;
            height: 90%;
            clear: left;
        }
        .displayIMG {
            height: 300px;
        }
        .phoneItems {
            height: 100px;
        }
        .dropdown-menu{
            width: 400px;
        }
        .dropdown-menu > ul{
            list-style-type: none;
        }
        .IMGbasket {
            width: 20%;
            height: 10%;
        }
        .qty-float {
            float:right;
            margin-top: 50px;
            padding-right: 20px;
        }
        div.sources {
            margin-top: 10px;
            float: right;
            font-size: 12px;
        }
    </style>

</head>
<body>

    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Sphone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Deals</a>
                    </li>
    
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-shopping-basket"></i> ({{Addcart}})
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <ul v-for="item in phones">
                                <li v-show="Qty(item) > 0"><img class="IMGbasket" :src="item.link">{{title}} <span class="qty-float">Qty: {{Qty(item)}}</span> </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <h1>{{title}}</h1>
            <div class="row">
                <div class="col">
                    <div class="displayIMG">
                        <img class="viewIMG" :src="currentImg"> 
                    </div>
                    <div class="row phoneItems">
                        <div class="col-2" v-for="phone in phones" :key="phone.id">
                            <img class="phonelists" :src="phone.link" @click="changeIMG(phone)">
                        </div>
                    </div>
                    
                </div>

                <div class="col"  v-for="phone in phones" v-if="phone.name === title">
                    <ul>
                        <li v-if="phone.Condition === true">Condition: New</li>
                        <li v-else>Condition: Used</li>
                        <li>Phone Size: {{phone.Size}}</li>
                        <li>Resolution: {{phone.Resolution}}</li>
                        <li v-if="phone.Stock > 0">Number of Stock: {{phone.Stock}}</li>
                        <li v-else>-Out of Stock-</li>

                    </ul>
                    <button class="btn btn-primary"
                        @click="UpdateStockCart(phone)" 
                        :disabled="isStock"
                    >
                        Add to Cart
                    </button>
                </div>
            </div>
            <div class="row sources">
                <p> <a v-bind:href="source">Source</a> | <a v-bind:href="github">Github</a> </p>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
    new Vue({
        el: '#app',
        data: {
            Addcart: 0,
            CartItem: [],
            isStock: false,
            title: 'Samsung Galaxy S II',
            currentImg: 'https://upload.wikimedia.org/wikipedia/commons/4/4a/Samsung_Galaxy_S_II.png',
            phones: [
                {
                    id: 0,
                    name: 'Samsung Galaxy S II',
                    link: 'https://upload.wikimedia.org/wikipedia/commons/4/4a/Samsung_Galaxy_S_II.png',
                    Condition: false,
                    Size: '4.3 in',
                    Resolution: '800 x 480',
                    Stock : 10
                },
                {
                    id: 1,
                    name: 'Samsung Galaxy S4',
                    link: 'https://upload.wikimedia.org/wikipedia/commons/8/86/Samsung_Galaxy_S4.svg',
                    Condition: true,
                    Size: '5 in',
                    Resolution: '1920 x 1080',
                    Stock : 6
                },
                {
                    id: 2,
                    name: 'Samsung Galaxy S III',
                    link: 'https://upload.wikimedia.org/wikipedia/commons/d/d6/Samsung_Galaxy_S_III.png',
                    Condition: true,
                    Size: '4.8 in',
                    Stock : 5
                }
            ],
            source : 'https://github.com/jdelacr/App-Projects-Vue/tree/master/Online-Store',
            github : 'https://github.com/jdelacr'
        },
        methods: {
            //Change the display when clicking the phones at the bottom
            changeIMG: function(phone) {
                //this set the selected image
                this.currentImg = phone.link;

                //change the name of the phone
                this.title = phone.name;
                console.log(this.currentIMG);

                //this determines if the phone stock is available or not
                if(phone.Stock > 0){
                    this.isStock = false;
                }
                
            },

            //A button function that decrease the amount of stock available
            UpdateStockCart: function(phone) {
                //decrement the stock
                phone.Stock -= 1;

                //this disable the button if the stock reaches 0
                if(phone.Stock === 0){
                    this.isStock = true;
                }

                //this is needed to count the quantity of in the basket
                //we push the phones id to count how many there are
                this.CartItem.push(phone.id);

                // this is for displaying how many are in the basket
                this.Addcart = this.CartItem.length;

            },

            //A function to display how many each are placed in the basket
            Qty: function(item) {
                //We filter each based on the id that matches and then we count them
                let amount = this.CartItem.filter(CartItem => CartItem == item.id).length;
                return amount;
            }
        },
    })
    </script>
</body>
</html>